.canvas{
    text-align: center;
}
h1{
    margin-top: 100px;
    color: crimson;
}
h2{
    margin-top: 65px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(94, 69, 168);
}
.button{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid rgb(135, 8, 8);
    margin-top: 10px;
    border-radius: 10px;
}

#gray{
    background-color: gray;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}